caption {
    font-weight: bold;
    font-size: xx-large;
}

table {
    margin: 0 auto;
}

td {
    color: gray;
    font-weight: bold;
}

tr:nth-child(2n+1) td:nth-child(2n),
tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: gray;
}

img {
    vertical-align: middle;
}

td, img {
    --cell-size: 8vmin;
    width: clamp(30px, var(--cell-size), 50px);
    height: clamp(30px, var(--cell-size), 50px);
}

.QUEEN {
    border: 3px solid red;
}

.BLOCKED {
    border: 3px solid blue;
}

.EMPTY {
    border: 3px solid black;
}

fieldset {
    width: clamp(290px, 64vmin, 455px);
    margin: 0 auto;
}

input[type="number"] {
    width: 3em;
}

#message {
    text-align: center;
}